ARK_API_KEY=请填写火山方舟_API_Key
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_IMAGE_MODEL=doubao-seedream-5-0-260128
ARK_TEXT_MODEL=doubao-seed-2-0-mini-260428
VOLC_TTS_ACCESS_TOKEN=请填写火山语音访问令牌
VOLC_TTS_RESOURCE_ID=seed-tts-2.0
VOLC_TTS_VOICE_TYPE=请填写默认音色_ID

